<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/demo.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
              <h1>Welcome to VIKASJOBS</h1>
              <p>continuous Job updates for every hour...</p>

              <a class="btn btn-primary btn-lg" href="/hydjobs" role="button">Hyderabad Jobs</a> &nbsp&nbsp&nbsp
              <a class="btn btn-primary btn-lg" href="/blorejobs" role="button">Bangalore Jobs</a> &nbsp&nbsp&nbsp
              <a class="btn btn-primary btn-lg" href="/chennaijobs" role="button">Chennai Jobs</a> &nbsp&nbsp&nbsp
              <a class="btn btn-primary btn-lg" href="/punejobs" role="button">Pune Jobs</a>

    </div>

    </div>
  </body>
</html>
